In [2]:
import pandas as pd
pd.set_option('display.max_columns', None)
import numpy as np
import re

category_ori = pd.read_csv("../data/category.csv")

category = category_ori.copy()

category.head(5)

   category_id       name          last_update
0            1     Action  2006-02-15 04:46:27
1            2  Animation  2006-02-15 04:46:27
2            3   Children  2006-02-15 04:46:27
3            4   Classics  2006-02-15 04:46:27
4            5     Comedy  2006-02-15 04:46:27

In [4]:
category.shape

(16, 3)

In [12]:
#voy a pasar todo a minuscula
category["name"] = category["name"].str.lower()

In [7]:
#me cargo la columna last update que no sirve para nada
category = category.drop("last_update", axis=1)

In [14]:

category.head()

   category_id       name
0            1     action
1            2  animation
2            3   children
3            4   classics
4            5     comedy

In [15]:
#y con esto concluye la limpieza de este archivo

In [16]:
category.to_csv("../data/categoryclean.csv", index=False)